/* Hiện dropdown-menu khi cha có class active */
.side-menu.top .dropdown .dropdown-menu {
    display: none;
    position: static;
    background: #fff;
    box-shadow: none;
    margin-left: 20px;
    padding-left: 10px;
    border-radius: 4px;
    min-width: 180px;
    z-index: 100;
}

.side-menu.top .dropdown.active .dropdown-menu {
    display: block;
}