
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>4uhost</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link href="~/css(4u)/bootstrap.min.css" rel="stylesheet" />
    <!-- style css -->

    <link href="~/css(4u)/style.css" rel="stylesheet" />
    <!-- Responsive-->
    <link href="~/css(4u)/responsive.css" rel="stylesheet" />
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
</head>
<body class="main-layout inner_page">
    <!-- loader  -->
    
    <!-- end loader -->
    <!-- header include -->
    <div id="header-placeholder"></div>

    <!-- about -->
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage text_align_center">
                        <h2>CI Research <span class="blue_light">Company LIMITED</span></h2>
                    </div>
                </div>
                <div class="col-md-10 offset-md-1">
                    <div class="about_img text_align_center">
                        <figure>
                            <img src="~/img(4uu)/about (2).gif" />

                        </figure>
                        <p>

                        </p>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end about -->
    <!-- footer include -->
    <div id="footer-placeholder"></div>

    <!-- Javascript files-->

</body>
</html>
